services:
  mongo:
    image: mongo:latest
    container_name: local-mongod
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - booknetwork

  backend:
    build: ./backend
    container_name: bookkeeper-backend
    depends_on:
      - mongo
    environment:
      # - MONGO_URI=mongodb://mongo:27017/library 
      - REACT_APP_API_HOST=backend:5000   
    volumes:
      - ./backend:/usr/src/app  # Bind-mount backend code for live updates
      - /usr/src/app/node_modules  # Prevents overwriting node_modules    
    ports:
      - "5050:5000"
    env_file:
      - ./backend/.env
    command: npm run dev  # Run backend in development mode with nodemon
    networks:
      - booknetwork

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev  # Use development Dockerfile
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_HOST=backend:5000
    volumes:
      - ./frontend:/usr/src/app
      - frontend_node_modules:/usr/src/app/node_modules
    stdin_open: true
    tty: true
    command: npm start
    depends_on:
      - backend
    networks:
      - booknetwork

volumes:
  mongo-data:
  frontend_node_modules:
networks:
  booknetwork: {}
